// WIDTHS
$max-width: 110rem;
$border-radius: 1.2rem;

// COLORS
$font-color: rgba(13, 13, 13, 1);
$background-start: rgba(214, 219, 220, 1);
$background-end: rgba(255, 255, 255, 1);
$border-color: rgb(92, 92, 92);
$border-focus: hsl(214, 82%, 51%);

// Dark
$dark-font-color: rgba(255, 255, 255, 1);
$dark-background-start: rgba(13, 13, 13, 1);
$dark-background-end: rgb(27, 27, 27);
$dark-border-color: rgb(221, 221, 221, 1);
