.sidebar {
  background: rgba(var(--color-dark), 0.8);
  position: fixed;
  width: 100%;
  min-width: 20rem;
  height: 100vh;
  z-index: 10;
  transform: translateX(-100%);
  transition: all ease 300ms;
}
/* --------- OPEN MENU MOBILE --------- */
.menuOpen {
  transform: translateX(0%);
}

.container {
  width: 75%;
  max-width: 30rem;
  height: 100%;
  background: rgba(var(--color-background));
  /* box-shadow: var(--box-shadow); */
}

/* --------- TOP --------- */
.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 18rem;
  padding: 1.6rem;
  background: rgba(var(--color-info-dark),.2);
}
.top picture {
  display: flex;
  width: auto;
  align-items: center;
  height: 4rem;
  gap: .6rem;
}

.top picture img {
  object-fit: contain;
  width: 4rem;
}

.top picture h3 {
  font-size: clamp(1rem, 4vw, 1.7rem);
  transition: all ease 300ms;
}

.top button {
  margin-top: .5rem;
  width: 3rem;
  height: 3rem;
  background: rgba(var(--color-info-dark),.5);
  border-radius: 100%;
  cursor: pointer;
  transition: all ease 300ms;
}

.top button svg {
  font-size: 1.4rem;
  transition: all ease 300ms;
}

.top button:hover {
  background: rgba(var(--color-info-dark),.7);
}
.top button:hover svg {
  transform: scale(150%);
}

/* --------- TOP CONTRACT MENU BTN --------- */
.btnContractMenu {
  display: none;
}
.top .btnContractMenu svg {
  font-size: 1.8rem;
  transition: all 300ms ease;
}
/* --------- TOP CLOSE MENU BTN --------- */



/* ---------  USER INFO --------- */
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  padding: 1.6rem;
  height: 10rem;
}
.userInfo picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: .6rem;
  height: 4.1rem;
  transition: all 300ms ease;
}
.userInfo picture h3 {
  transition: all 300ms ease;
}
.userInfo picture img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  position: absolute;
  top: -5.5rem;
  background: rgba(var(--color-info-dark),.7);
  border-radius: 100%;
}


/* ---------  MENU LIST --------- */
.menuList {
  display: flex;
  flex-direction: column;
  height: calc(100% - (10rem + 19.6rem));
}



@media (min-width: 768px) {
  .sidebar {
    position: relative;
    max-width: 30rem;
    min-width: 12rem;
    transition: all ease 300ms;
    transform: translateX(0%);
    /* box-shadow: var(--box-shadow); */
    box-shadow: .5rem 1rem 1rem  rgba(var(--color-light), .1);
  }
  /* --------- MENU CONTRACT --------- */
  .contract {
    width: 10rem;
  }
  /* --------- CONTRACT TOP --------- */
  .contract .top picture h3 {
    position: absolute;
    opacity: 0;
    transform: translateX(-200%);
  }
  .contract .top .btnContractMenu svg{
    transform: rotate(180deg);
  }


  /* --------- CONTRACT USER INFO --------- */
  .contract .userInfo picture {
    height: 1.6rem;
  }
  .contract .userInfo picture h3 {
    position: absolute;
    opacity: 0;
    transform: translateX(-200%);
  }

  .container {
    width: 100%;
  }

  /* --------- TOP CONTRACT MENU BTN --------- */
  .btnContractMenu {
    display: block;
  }

  /* --------- TOP CLOSE MENU BTN --------- */
  .btnCloseMenu {
    display: none;
  }
}