.imgsContainer {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 50rem;
  gap: 1.2rem;
  max-width: 45rem;
}
.container-list {
  border-radius: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  width: 100%;
  gap: .4rem;
  background: rgb(128, 128, 128, .1);
}

.container-list picture {
  border-radius: 1.6rem;
  overflow: hidden;
}

/* -------- ONE IMAGE -------- */
.container-list.one{
  display: flex;
  aspect-ratio: 9/16;
}



/* -------- TWO IMAGES -------- */
.container-list.two {
  aspect-ratio: 16/14;
}

.container-list.two ._0 {
  /* aspect-ratio: 7/8; */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.container-list.two ._1 {
  /* aspect-ratio: 7/8; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;grid-row-end: 3;
}

/* -------- THREE IMAGE -------- */
.container-list.three {
  aspect-ratio: 16/14;
}
.container-list.three ._0{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.container-list.three ._1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.container-list.three ._2 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* -------- FOUR IMAGE -------- */
.container-list.four {
  aspect-ratio: 16/14;
}
.container-list ._0{
  grid-row-start: 1;
  grid-row-end: 2;
}
.container-list.four ._1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.container-list.four ._2 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container-list img {
  object-fit: cover;
  height: 100%;
  /* width: 100%; */
}

