/* -------------- ROOT VARIABLES ------------------ */
:root {
  --color-primary: 115, 128, 236;
  --color-danger: 255, 99, 100;
  --color-dark-red: 170, 0, 0;
  --color-success: 75, 221, 212;
  --color-warning: 255, 187, 85;
  --color-white: 250, 250, 250;
  --color-info-dark: 125, 141, 161;
  --color-info-light: 220, 225, 235;
  --color-dark: 54, 57, 73;
  --color-light: 132,139,200;
  --color-primary-variant: 17, 30, 136;
  --color-dark-variant: 103, 116, 131;
  --color-background: 241, 241, 241;

  --card-border-radius: 2rem;
  --border-radius-1: .4rem;
  --border-radius-2: .8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 3rem rgba(var(--color-light), .3)
}

body {
  user-select: none;
  overflow-x: hidden;
}

svg {
  font-size: 2.2rem;
}

small {
  color: rgba(var(--color-dark-variant));
}

/* ---------- PROFILE-PHOTO STYLE BEGIN ---------- */
.profilePhoto {
  width: 4rem;
  height: 4rem;
}
.profilePhoto img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
/* ---------- PROFILE-PHOTO STYLE END ---------- */


/* ---------- CARD STYLE BEGIN ---------- */
.card {
  width: 100%;
  /* background: rgba(var(--color-white), .2); */
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  transition: all 300ms ease;
}
.card:hover {
  /* box-shadow: none; */
}
/* ---------- CARD STYLE END ---------- */


/* ---------- CARD STYLE BEGIN---------- */
.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10rem;
}
.table tbody td {
  height: 3.8rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: .1rem solid rgba(var(--color-light), .18);
}


.input-group {
  margin: 0 auto;
  width: 100%;
  max-width: 35rem;
  display: flex;
  position: relative;
  margin-bottom: 1.2rem;
  /* margin: 0 auto; */
}

.input-group input {
  background: rgba(var(--color-light), .18);
  width: 100%;
  height: 4.5rem;
  padding: 1.2rem;
  border-radius: 1.6rem;
  border: .2 solid transparent;
  color: rgba(var(--color-info-dark));
  transition: all 300ms ease;
}
.input-group label {
  position: absolute;
  left: 1.2rem;
  bottom: 1.4rem;
  color: rgba(var(--color-info-dark));
  transition: all 300ms ease;
}

.input-group input:valid,
.input-group input:focus {
  background-color: transparent;
  border: .2rem solid rgba(var(--color-primary));
}
.input-group input:valid ~ label,
.input-group input:focus ~ label {
  transform: translate(0, -2rem) scale(85%);
  color: rgba(var(--color-primary));
  padding: .4rem;
  background: rgba(var(--color-background));
}

.btn-primary {
  margin: 0 auto;
  height: 4.5rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 1.6rem;
  color: rgba(var(--color-white));
  font-weight: 600;
  background: rgba(var(--color-primary-variant));
  margin-bottom: 1.2rem;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background: rgba(var(--color-primary));
}


.btn {
  min-height: 4.5rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(211, 211, 211);
  /* box-shadow: .5rem .5rem 1rem rgba(var(--color-info-dark)); */
}
.btn svg {
  font-size: 2.2rem;
  margin-right: .4rem;
}
.btn-info{
  background: rgba(var(--color-warning));
}
.btn-success {
  background: rgba(var(--color-success));
}
.btn-danger {
  background: rgba(var(--color-danger));
}

.row {
  display: flex;
  width: 100%;
  gap: 2.2rem;
}

.row > div {
  width: 100%;
}

/* ---------- NAVBAR STYLE ---------- */
::-webkit-scrollbar {
  /* background: rgba(var(--color-white), .5); */
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--color-info-dark), .5);
  border-radius: .5rem;
}



/* ---------- TICKET STATE PILL ---------- */
.created {
  /* background: rgba(163, 163, 202, 0.719); */
}
.refused {
  background: rgba(var(--color-dark-red));
  color: rgba(var(--color-white));
}
.assigned {
  background: rgba(var(--color-primary-variant));
  color: rgba(var(--color-white));
}
.in_process {
  background: rgba(var(--color-warning));
}
.finalized {
  background: rgba(var(--color-success));
  color: rgba(var(--color-white));
}