.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 20rem auto minmax(23rem, 40rem);
 }

.aside {
  height: 100vh;
}
.top {
  background: rgba(var(--color-white));
  display: flex;
  align-items: center;
  /* height: 8rem; */
  justify-content: space-between;
  margin-top: 1.4rem;
}
.top h2 {
  font-size: 1.4rem;
}
.logo {
  display: flex;
  gap: .8rem;
}
.logo img {
  height: 2rem;
  width: 2rem;
}

.sidebar {
  /* background: white; */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 12rem);
  position: relative;
  top: 8rem;
}

.sidebar h3 {
  font-weight: 500;
}

.sidebar a {
  display: flex;
  color: rgba(var(--color-info-dark));
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  min-height: 4.8rem;
  transition: all 300ms ease;
}

.sidebar a:hover {
  color: rgba(var(--color-primary), 1);
}

.sidebar  a:hover span {
  margin-left: 1rem;
}

.sidebar a:last-child {
  /* justify-self: flex-end; */
  margin-top: auto;
}
/* .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
} */

.sidebar .active {
  background: rgba(var(--color-light), .18);
  color: rgba(var(--color-primary));
  margin-left: 0;
}
.sidebar .active span {
  color: rgba(var(--color-primary));
  margin-left: calc(1rem - .3rem);
}
.sidebar .active::before {
  content: '';
  width: .6rem;
  height: 100%;
  background: rgba(var(--color-primary));
}
.sidebar a span {
  transition: all 300ms ease;
}
.sidebar a span svg {
  font-size: 2.4rem;
}

.sidebar .message {
  background: rgba(var(--color-danger));
  color: rgba(var(--color-white));
  padding: .2rem 1rem;
  font-size: 1.2rem;
  border-radius: var(--border-radius-1);
}


.main {
  margin-top: 2.4rem;
}

.date {
  display: inline-block;
  background: rgba(var(--color-light), .18);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: .8rem 1.6rem;
}

.date input[type="date"] {
  background: transparent;
  color: rgba(var(--color-info-dark));
}

.insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.insights > div {
  background: rgba(var(--color-white));
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1.4rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.insights > div:hover {
  box-shadow: none;
}

.insights > div span {
  background: rgba(var(--color-primary));
  padding: .5rem;
  border-radius: 50%;
  color: rgba(var(--color-white));
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  justify-content: center;
  align-items: center;
}
.insights > div span svg {
  font-size: 2.4rem;
}

.insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insights > div .middle h3 {
  margin: 1rem 0 0.6rem;
}

.middle .progress {
  position: relative;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
}

.middle .progress svg {
  /* background: red; */
  width: 8.5rem;
  height: 8.5rem;
}

.middle .progress svg circle {
  fill: none;
  stroke: rgba(var(--color-primary));
  stroke-width: 12;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 200;
  stroke-dashoffset: -30;
}

.middle .progress div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insights small {
  margin-top: 1.6rem;
  display: block;
  color: rgba();
  color: rgba(var(--color-info-dark));
}

.recent {
  margin-top: 2.4rem;
}

.recent h2 {
  margin-bottom: .8rem;
}
.tableContainer{
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: 100%;
}
.tableContainer:hover {
  box-shadow: none;
}

.tableContainer table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
  vertical-align: middle;
}

.tableContainer table tbody td {
  vertical-align: middle;
  height: 3.8rem;
  text-align: center;
  border-bottom: .1rem solid rgba(var(--color-light), .18);
  color: rgba(var(--color-dark-variant));
}

.tableContainer table tbody tr:last-child td {
  border-bottom: none;
}

.tableContainer table a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: rgba(var(--color-primary));
}


.right {
  margin-top: 1.4rem;
}

.rightTop {
  display: flex;
  justify-content: end;
  gap: 2.4rem;
  /* background: gray; */
}

.rightTop .menuBtn {
  display: none;
}

.themeToggler {
  background: rgba(var(--color-light), .18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  width: 5.4rem;
  cursor: pointer;
  border-radius: var(--border-radius-2);
}

.themeToggler span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeToggler span.active {
  background: rgba(var(--color-primary));
  color: white;
  border-radius: var(--border-radius-2);
}
.themeToggler svg {
  font-size: 2rem;
}

.profile {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  text-align: right;
}
.recentUpdates {
  margin-top: 1.8rem;
}
.updates {
  background: rgba(var(--color-white));
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  margin-top: 1.6rem;
}

.updates:hover {
  box-shadow: none;
}

.updates .update {
  display: grid;
  grid-template-columns: 3rem auto;
  gap: 1.4rem;
  margin-bottom: 1rem;
}
