.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 2.4rem;
  /* max-width: 128rem; */
  margin: 0 auto;
}
.quickView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  justify-content: center;
  gap: .6rem;
}
.quickCard {
  display: flex;
  width: 100%;
  min-height: 6rem;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.quickCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quickCard h3 {
  font-size: clamp(3rem, 4vw, 12rem);
  color: rgba(var(--color-dark));
  font-weight: 800;
}
.quickCard span {
  font-size: clamp(1.2rem, 2vw, 1.8rem);;
}
.quickCard svg {
  transform: rotate(15deg);
  font-size: clamp(6rem, 10vw, 14rem);
  right: 0;
  position: absolute;
  z-index: -1;
  display: none;
}
.quickCard.info svg {
  fill: rgba(var(--color-info-light));
}


.searchContainer {
  padding: 1.6rem;
  /* margin-bottom: 1.6rem; */
}
.searchContainer h3 {
  font-size: 3.2rem;
  color: rgba(var(--color-primary-variant));
}
.searchForm {
  display: flex;
  align-items: center;
  /* max-width: 90rem; */
  margin: 0 auto;
  position: relative;
}
.searchForm div {
  width: 100%;
  max-width: none;
  margin-top: 2.2rem;
}
.searchForm div input {
  width: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.searchForm button[type=submit] {
  min-width: 3rem;
  max-width: 15rem;
  background: rgba(var(--color-primary));
  height: 4.5rem;
  border: .2rem solid transparent;
  margin-top: 2.2rem;
  margin-bottom: 1.2rem;
  border-bottom-right-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: rgba(var(--color-white));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  padding: 1.6rem;
}
.searchForm button[type=submit]:hover {
  font-size: 1.8rem;
}
.searchForm button[type=submit] span {
  display: none;
}
.searchForm small {
  display: none;
}


.searchForm small {
  position: absolute;
  bottom: -.5rem;
  left: 1.6rem;
}

.containerList {
  padding: 2rem .1rem !important;
  overflow-x: scroll;
}

@media (min-width: 400px) {
  .quickCard svg {
    display: flex;
  }

}



@media (min-width: 600px) {
  .quickView {
    /* flex-direction: row; */
  }
  .quickCard svg {
    position: relative;
  }

  .searchForm button[type=submit] span {
    display: flex;
  }
  .searchForm small {
    display: flex;
  }
}